html, body {
	height: 100%;
}
.background-left {
	background: #088cd7;
	padding-bottom: 15px;
}
.background-right {
	background: #f6b533;
	padding-bottom: 15px;
}
.center-block-image {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	position: absolute;
	left: 289px;
	top: 206px;
	z-index: 80;
}
.align-images-atividade:first_child{
	float:right;
}
.total-height {
	height: 100% !important;
}
.align-form {
	position: absolute;
    top: 311px;
    left: 200px;
}
.margim-bottom-input {
	margin: 0 0 15px 0;
}
.login-input {
	padding: 21px;
	width: 289px;
}
input[type=text] {
	background: #bd8b26;
	border: none;
	color: #fff;
	font-weight: bold;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff;
  font-weight: bold;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff;
  font-weight: bold;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff;
  font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff;
  font-weight: bold;
}
.login-button {
	padding: 30px;
	position: absolute;
	background: #bd8b26;
	border: none; 
}
i.fa {
	font-size: 79px;
	color: #762c90;
}
@media (max-width: 575.99px) {
	.total-height {
		height: auto !important;
	}
}